body {
  background-image: url(oooo.jpg);
}

#formCandidat {
  width: 800px;
  border: 30px;
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.input-group-text {
  width: 200px;
}
#liste_candidats {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#titre_page_candidats {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

#logOut {
  position: fixed;
  top: 8px;
  right: 16px;
}
#BJ {
  font-size: 30px;
  text-align: center;
  color: darkblue;
  text-decoration: solid;
}
#Pgraph {
  text-align: center;
  color: rgb(142, 142, 228);
  font-size: 20px;
}

#graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: darkblue;
}
